body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

   .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: gray;
      color: white;
    }


    .logo img {
      height: 60px;
      width: 70px;
    }

  
    .nav-links {
      list-style: none;
      display: flex;
      gap: 50px; 
      margin: 0;
      padding: 0;
    }

    .nav-links li a {
      color: black;
      text-decoration: none;
      font-size: 17px;
    }

    .nav-links li a:hover {
      color: white; 
    }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  max-width: 5000px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left {
  flex: 1;
}

.left img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  display: block;
}
.right {
  flex: 1;
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right h1 {
  font-size: 50px;
  text-align: center;
}

.right p {
  font-size: 17px;
  line-height: 1.6;
  color: #333;
}
.b{
  color: gray;
}
.klik{
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  left: 87%;
  position: absolute;
  top: 1120px;
  border-radius: 5px;
  font-size: 40px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  max-width: 5000px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left {
  flex: 1;
}

.right img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  display: block;
}
.right {
  flex: 1;
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right h1 {
  font-size: 50px;
  text-align: center;
}

.right p {
  font-size: 17px;
  line-height: 1.6;
  color: #333;
}
.b{
  color: gray;
}
