.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  width: 80%;
  max-width: 5000px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left {
  flex: 1;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.right {
  flex: 1;
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right h1 {
  font-size: 50px;
  text-align: center;
}

.right p {
  font-size: 17px;
  line-height: 1.6;
  color: #333;
}
.b{
  color: gray;
}
.klik{
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  left: 47%;
  position: absolute;
  top: 860px;
  border-radius: 5px;
  font-size: 40px;
}
 .box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  max-width: 5000px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.diniyyah h4{
  font-size: 30px;
  color: black;
  position: absolute;
  right: 878px;
  top: 425px;
}