body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

   .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: gray;
      color: white;
    }


    .logo img {
      height: 60px;
      width: 70px;
    }

  
    .nav-links {
      list-style: none;
      display: flex;
      gap: 50px; 
      margin: 0;
      padding: 0;
    }

    .nav-links li a {
      color: black;
      text-decoration: none;
      font-size: 17px;
    }

    .nav-links li a:hover {
      color: white; 
    }
    .box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 40%;
  max-width: 10000px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.left {
  flex: 1;
}

.left img {
  width: 20%;
  height: 10%;
  padding-left: 50px;
  padding-top: 25px;
  display: block;
}
.right {
  flex: 1;
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right h1{
  font-size: 30px;
  color: black;
  position: absolute;
  right: 1000px;
  top: 240px;
}

.what h1{
  font-size: 30px;
  color: black;
  position: absolute;
  right: 50%;
  top: 330px;
}
.email h1{
  font-size: 30px;
  color: black;
  position: absolute;
  right: 878px;
  top: 425px;
}
h1{
  text-align: center;
  font-size: 50px;
}
#none{
  display: none;
}
