body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

   .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: gray;
      color: white;
    }


    .logo img {
      height: 60px;
      width: 70px;
    }

  
    .nav-links {
      list-style: none;
      display: flex;
      gap: 50px; 
      margin: 0;
      padding: 0;
    }

    .nav-links li a {
      color: black;
      text-decoration: none;
      font-size: 17px;
    }

    .nav-links li a:hover {
      color: white; 
    }

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
}


.menu{
  display: flex;
  justify-content: center;
  gap: 20px
}


.item {
  background: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
}

.item img {
  width: 150px;
  height: 150px;
  object-fit: cover; 
  border-radius: 8px;
}

.item h2 {
  margin: 15px 0 10px;
  font-size: 18px;
  color: #0c0c0c;
}

.harga {
  font-weight: bold;
  color: #e74c3c;
}
.item button{
  padding: 10px 20px;
  border: none;
  background: #0077cc;
  color: #fff;
  border-radius: 5px;
}
