body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  width: 450px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.top {
  background: #1e6afb;
  padding: 30px 20px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.top img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgb(195, 197, 206);
  object-fit: cover;
}

h3 {
  margin: 15px 0 5px;
  font-size: 25px;
}

h4 {
  margin: 0;
  color: rgb(18, 51, 238);
  font-weight: normal;
  font-size: 30px;
}

p {
  padding: 0 20px;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
  line-height: 1.4;
}
button {
  padding: 12px 40px;
  font-weight: 600px;
  transition: 0.3s ease;
  border-radius: 10px;
  background-color: rgb(18, 51, 238);
  
}
