body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #2c9bf3;
}

.logo img {
  height: 50px;
  width: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.nav-links li a:hover {
  color: white;
}
button {
  padding: 20px;
  border-radius: 30px;
  width: 20vh;
  background: #50a9f2;
  background: linear-gradient(
    90deg,
    rgba(80, 169, 242, 0.76) 23%,
    rgba(174, 228, 245, 0.57) 56%
  );
  font-size: 15px;
  border: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1905px;
  margin-top: auto;
  max-width: 4000px;
  background: #95dcf0;
  background: linear-gradient(0deg, #ffffff, #2c9bf3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 1200px;
}
.right img {
  width: 750px;
  height: 550px;
  object-fit: cover;
  display: block;
  padding-right: 100px;
  position: absolute;
  top: 330px;
  left: 105vh;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left h1 {
  font-size: 60px;
  padding-left: 150px;
  line-height: 65px;
  color: white;
  position: absolute;
  top: 250px;
}

.left p {
  font-size: 25px;
  padding-left: 150px;
  line-height: 33px;
  color: white;
  position: absolute;
  top: 510px;
}

.btn {
  position: absolute;
  left: 150px;
  top: 715px;
  padding: 20px;
  width: 290px;
  font-size: 20px;
  border-radius: 30px;
  background: red;
  color: white;
  border: none;
}
span {
  color: #212161;
}

.kotak h2{
  font-size: 50px;
  line-height: 60px;
}

.kotak{
  text-align: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.7);
}

.box{
   background: #FFFFFF;
background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(53, 156, 240, 0.66) 16%);
  width: 110px;
  height: 110px;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.icon-boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 90px;
}

.box img {
  width: 40px;
  height: 40px;
  margin-bottom: auto;
  margin-top: 15px;
  justify-items: center;
}

