.bulan{
  width: 200px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 150vh;
  top: 50px;
  animation: pulse 8s ease-in-out infinite;
  border-radius: 100vh;
}
@keyframes pulse{
   0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(88, 88, 88, 0.356);}
        70%{transform: scale(1.08);box-shadow: 0 0 0 14px rgba(255, 111, 97, 0);}
        100%{transform: scale(1);}
}
.bintang{
  width: 200px;
  position: absolute;
  left: 300px;
  top: 50px;
  animation: kedip 1.5s infinite;
}
@keyframes kedip{
   0% { opacity: 3; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.adeh{
  width: 150px;
  position: absolute;
  left: 700px;
  top: 10vh;
  animation: kedap 1.4s infinite;
}
@keyframes kedap{
   0% { opacity: 3; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.ceh{
  width: 200px;
  position: absolute;
  left: 105vh;
  top: 60px;
  animation: kadip 1.3s infinite;
}
@keyframes kadip{
   0% { opacity: 4; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7dbdb;
background: linear-gradient(0deg,rgba(215, 219, 219, 0.75) 35%, rgba(43, 42, 42, 0.97) 77%);
}

.poster {
  width: 450px;
  padding: 55px;
  background-image: url(e1699c982396398139e4fc8c010c90f8.jpg);
  border-radius: 10px;
  text-align: center;
  transition: transform 1.1s ease-out;
}

.poster:hover {
  transform: scale(1.2);
}

h1 {
  margin: 20px 0 5px;
  font-size: 30pxpx;
  font-weight: 700;
  font-family: "Emblema One", system-ui;
  font-style: normal;
  transition: background 0.5s;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  position: relative;
  animation: geser 2s ease-in-out;
  color: white;
}
@keyframes geser {
  0% {
    transform: translatey(-70px);
  }
}
h2 {
  font-weight: 500;
  font-size: 18px;
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: "Condiment", cursive;
  font-weight: 400;
  font-style: normal;
  animation: ser 2s ease-in-out infinite alternate;
}
@keyframes ser {
 from{
  left: 0;
 }
 to{
  left: 25px;
  opacity: 1;
  color: rgb(255, 253, 253);
 }
}

p {
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Condiment", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  animation: in 2s ease-in-out;
}
@keyframes in {
  0% {
    transform: translatey(60px);
  }
}

.btn {
  margin-top: 25px;
  padding: 10px 20px;
  background: #ff9bd8;
  border-radius: 12px;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.4s, transform 0.3s;
}

.btn:hover {
  background: #f765bfb7;
  transform: translatex(-15px);
}

.tombol {
  margin-top: 25px;
  padding: 10px 20px;
  background: rgb(252, 252, 97);
  border-radius: 12px;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s, transform 0.9s;
}

.tombol:hover {
  background: yellow;
  transform: translatex(20px);
}
