.container{
    background: lightgreen;
    width: 600px;
    height: 150px;
}
.yellow-box{
    display: inline-block;
    margin: 10px;
    background-color: yellow;
    width: 100px;
    height: 100px;
}
